#pywebio-scope-body {
    min-width: 100%;
}

#pywebio-scope-content {
    background: rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    padding: 15px;
    border-radius: 20px;
    min-height: 90vh;
}

#pywebio-scope-sidebar {
    background: rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    min-height: 90vh;
    max-width: 50px;
    margin-right: 50px;
    transition: 0.5s;
    overflow-x: hidden;
}

.list-group.sidebar {
    transform: translateX(30px);
    opacity: 0;
    transition: 0.5s;
    padding: 15px;
    width: 100%;
    height: 100%;
}

.list-group.sidebar:hover {
    transform: translate(0px);
    opacity: 1;
}

#pywebio-scope-sidebar:hover {
    max-width: 200px;
}

#pywebio-scope-sidebar .list-group-item {
    border-radius: 10px;
    margin-top: 20px;
    text-decoration: none;
    border-width: 0px;
}

#pywebio-scope-sidebar .list-group-item[aria-selected="false"] {
    color: #212529
}

.card {
    background: rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.alert {
    opacity: 0.8;
}

.btn-outline-secondary {
    background-color: rgba(255, 255, 255, 0.7);
    color: rgba(100, 100, 100, 0.7);
}

.btn-outline-secondary:hover {
    transition: 0.5s;
    color: rgba(255, 255, 255, 1);
}

.form-control, .form-check-input, [role="combobox"] {
    background-color: transparent;
}

.form-control:focus, .form-check-input:focus, [role="combobox"]:focus {
    background-color: transparent;
}

.modal-content {
    background: rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}